<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.mail.park.chat" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="com.sonymobile.permission.SYSTEM_UI_VISIBILITY_EXTENSIONS" />

    <!-- For correct camera using -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.ChatsActivity"
            android:label="@string/title_activity_chats"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:value="@xml/searchable_chats" />
        </activity>
        <activity
            android:theme="@style/AppTheme.LoginActivity"
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.ContactsActivity"
            android:label="@string/contacts"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.GroupDialogCreateActivity"
            android:label="@string/title_activity_create_group_dialog"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.DialogCreateActivity"
            android:label="Create dialog"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.ContactSearchActivity"
            android:label="@string/title_activity_contacts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ProfileViewActivity"
            android:label="@string/title_activity_user_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ProfileEditActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".activities.ProfileViewActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.DialogActivity"
            android:label="@string/title_activity_dialog" />
        <activity
            android:name=".activities.P2PDialogActivity"
            android:label="@string/title_activity_dialog" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.ChatsActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.mail.park.chat.activities.ChatsActivity" />
        </activity>
        <activity android:label="@string/app_name" android:name=".file_dialog.FileDialog">
        </activity>
    </application>

</manifest>
